<div class="container">
  <form action="/memos" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <input type="text" name="title" required>
      </div>
      <div class="form-items__item">
        <textarea name="content"></textarea>
      </div>
    </div>
    <div class="form-action">
      <input type="submit" value="保存">
    </div>
  </form>
</div>
